<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- 连接4要素 -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql:///hibernate5</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <!-- 方言 -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <!-- c3p0数据库连接池 -->
        <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
        <!-- 当前Session上下文 -->
        <property name="current_session_context_class">thread</property>
        <!-- 自动建表 -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- 显示并格式化SQL -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <!--
        <mapping resource="com/discry/hibernate/a/one/Student.hbm.xml"/>
        <mapping resource="com/discry/hibernate/a/two/Teacher.hbm.xml"/>
        <mapping resource="com/discry/hibernate/b/Course.hbm.xml"/>
        -->
        <!-- 开启二级缓存 -->
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <!-- 注册二级缓存区域工厂 -->
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>

        <mapping resource="com/discry/hibernate/c/one2many_s/Country.hbm.xml"/>
        <mapping resource="com/discry/hibernate/c/one2many_s/Minister.hbm.xml"/>
        <mapping resource="com/discry/hibernate/c/one2many_d/Country.hbm.xml"/>
        <mapping resource="com/discry/hibernate/c/one2many_d/Minister.hbm.xml"/>
        <mapping resource="com/discry/hibernate/c/one2many_d_oneself/NewsLabel.hbm.xml"/>
        <mapping resource="com/discry/hibernate/c/many2one_s/Country.hbm.xml"/>
        <mapping resource="com/discry/hibernate/c/many2one_s/Minister.hbm.xml"/>
        <mapping resource="com/discry/hibernate/d/many2many_s/Course.hbm.xml"/>
        <mapping resource="com/discry/hibernate/d/many2many_s/Student.hbm.xml"/>
        <mapping resource="com/discry/hibernate/d/many2many_d/Course.hbm.xml"/>
        <mapping resource="com/discry/hibernate/d/many2many_d/Student.hbm.xml"/>

        <mapping resource="com/discry/hibernate/e/leftjoinfetch/Country.hbm.xml"/>
        <mapping resource="com/discry/hibernate/e/leftjoinfetch/Minister.hbm.xml"/>

        <mapping resource="com/discry/hibernate/e/getload/Student.hbm.xml"/>
        <mapping resource="com/discry/hibernate/e/multi/Minister.hbm.xml"/>
        <mapping resource="com/discry/hibernate/e/multi/Country.hbm.xml"/>

        <mapping resource="com/discry/hibernate/e/single/Minister.hbm.xml"/>
        <mapping resource="com/discry/hibernate/e/single/Country.hbm.xml"/>

        <mapping resource="com/discry/hibernate/f/cache/Student.hbm.xml"/>
        <mapping resource="com/discry/hibernate/f/snapshot/Student.hbm.xml"/>
        <mapping resource="com/discry/hibernate/f/sessionFlush/Student.hbm.xml"/>

        <mapping resource="com/discry/hibernate/f/level2cache/Country.hbm.xml"/>
        <mapping resource="com/discry/hibernate/f/level2cache/Minister.hbm.xml"/>

        <!-- 指定类缓存 -->
        <class-cache class="com.discry.hibernate.f.level2cache.Country" usage="read-only"/>
        <class-cache class="com.discry.hibernate.f.level2cache.Minister" usage="read-only"/>
        <collection-cache collection="com.discry.hibernate.f.level2cache.Country.ministers" usage="read-only"/>
    </session-factory>
</hibernate-configuration>